<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/">
<head>
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">


</head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		<hr>
		<p class="h4 mb-4">Save Employee</p>
		<form action="#" th:action="@{/employees/update}" th:object="${theEmployee}" method="post">
		<input type="hidden" th:field="*{id}" >
		<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First Name">
		<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name">
		<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="email">
		<input type="submit" value="save" class="btn btn-info col-2">
		</form>
		
		<a th:href="@{/employees/list}"> Back to Employee list</a>	
	</div>
	
</body>
</html>